@page
@{
    ViewData["Title"] = "Admin - Providers";
    @model IEnumerable<ProvidersViewModel>
}

<div class="esh-orders">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <article class="esh-orders-titles row">
            <section class="esh-orders-title col-xs-2">Provider Name</section>
            <section class="esh-orders-title col-xs-4">Provider Address</section>
            <section class="esh-orders-title col-xs-2">Provider Siren</section>
            <section class="esh-orders-title col-xs-2">Item for this provider</section>
            <section class="esh-orders-title col-xs-2">Item PRICE for this provider (€)</section>
            <section class="esh-orders-title col-xs-2">Item DELIVERY TIME for this provide (Days)r</section>
            <section class="esh-orders-title col-xs-2"></section>
        </article>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
    <article class="esh-orders-items row">
        <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.Name)</section>
        <section class="esh-orders-item col-xs-4">@Html.DisplayFor(modelItem => item.AddressNumber) @Html.DisplayFor(modelItem => item.AddressStreet) - @Html.DisplayFor(modelItem => item.AddressPostcode) @Html.DisplayFor(modelItem => item.AddressCity)</section>
        <section class="esh-orders-item col-xs-2">$ @Html.DisplayFor(modelItem => item.Siren)</section>
        <!-- Agregation de l'item du catalog (via la table de liaison CatalogHasProviders) DANS UN SECOND TEMPS

    </section> -->
    </article>
            }
        }
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}