@model Microsoft.eShopWeb.ApplicationCore.Entities.Stock

@{
    ViewData["Title"] = "Details";
}
  
    <div class="alert-info" style="padding: 40px;background: #f1f1f1;color: gray;">
        <h2>Stock</h2>
        <hr style="border-top-color: gray;"/>
        <dl class="dl-horizontal">
            <dt style="text-align: left;">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt style="text-align: left;">
                @Html.DisplayNameFor(model => model.Buyprice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Buyprice)
            </dd>
            <dt style="text-align: left;">
                @Html.DisplayNameFor(model => model.IsFull)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsFull)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
        
