@model IEnumerable<Microsoft.eShopWeb.ApplicationCore.Entities.Stock>

@{
    ViewData["Title"] = "Index";
}
    <div class="alert-info" style="padding: 40px">
        <h2>Stocks</h2>

        <p>
            <a asp-action="Create" class="btn btn-primary">New Stock</a>
        </p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                       Product
                    </th>
                    <th>
                        Supplier
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Buyprice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsFull)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CatalogItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buyprice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsFull)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        
    </div>